@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeIn {
  animation: fadeMe 0.5s linear;
}

@keyframes fadeMe {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 1s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.slideOutRight {
  animation: slideOutRight 1s;
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(20%);
    opacity: 0;
  }
}
